{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-5 text-center">
    <h1>Hey there {{ app.user.email }}!</h1>

    <p>
        Whelp, there's nothing else to see. Have a cool day!
    </p>
    </div>
{% endblock %}
